body {
    background-color: #000;
    background-image: url(images/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #960101;
    font-family: helvetica;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

/* Head image settings begin here */

.headimage {
    display: block;
    height: 490px;
    margin: 0 auto;
    position: relative;
    top: 1px;
    width: 1200px;
}

/* Welcome settings begin here! */ 

.welcome-box {
    background-color: #000;
    border-color: #910505;
    border-style: double;
    position: relative;
    text-align: center;
    top: -56px;
}

.welcome {
    font-size: 26px;
    font-weight: 700;
    text-shadow: 1px 1px #e2c314;
}

/* Warsong crest settings begin here! */

.banner-container {
    position: absolute;
}

.banner {
    position: relative;
    left: 60px;
}

.banner-b {
    position: relative;
    left: 1200px;
}

/* Music container settings begin here! */

.music {
    position: relative;
    top: 266px;
    right: -36px;
}

/* Main content and headline settings begin here! */

.maincontent {
    text-align: center;
    width: 100%;
}

.maincontent__table {
    background-image: url(images/scroll.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 6px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    width: 600px;
}

.maincontent__list {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    left: -102px;
    list-style-type: none;
    position: relative;
    text-shadow: 2px 2px #000;
    top: 20px;
    
}

.maincontent__list li {
    margin: 18px;
}

.maincontent__list li:hover {
    list-style-type: none;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.maincontent__link {
    color:  #ba8305;
    margin: 16px;
    text-decoration: none;
}

.maincontent__link:hover {
    color: #960101;
    margin: 16px;
}

.text-container {
    position: relative;
    text-align: center;
    top: 60px;
}

.headline {
   font-size: 26px;
   font-weight: 700;
   position: relative;
   text-shadow: 1px 1px #e2c314;
   top: 12px;
   width: 100%;
}

.construction {
    height: 400px;
    width: 600px;
}