body {
    background-color: #000;
    background-image: url(img/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #d6c80e;
    font-family: helvetica;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.main {
    text-align: center;
}

.main__intro {
    background-color: #000;
    border-style: double;
    border-color: #910505;
    color: #910505;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
    position: relative;
    text-shadow: 1px 1px #d6c80e;
    top: 12px;
}

/* Warsong banners´ settings begin here */

.banner-container {
    position: absolute;
}

.banner {
    position: relative;
    left: 60px;
}

.banner-b {
    position: relative;
    left: 1292px;
}

/* Introduction settings begin here! */

.description {
    margin: 0 auto;
    max-width: 603px;
    text-align: center;
}

.description__intro {
    background-image: url(img/scroll3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #910505;
    border-style: double;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    text-shadow: 3px 3px #000;
    top: 20px;
}

/* Navigation bar settings begin here! */

.maincontent {
    text-align: center;
    width: 100%;
}

.maincontent__table {
    background-image: url(img/scroll1.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 6px;
    height: 350px;
    left: 75px;
    margin: 0 auto;
    position: relative;
    top: 42px;
    width: 600px;
}

.maincontent__list {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    left: -102px;
    list-style-type: none;
    position: relative;
    text-shadow: 2px 2px #000;
    top: 22px;
}

.maincontent__list li {
    margin: 18px;
}

.maincontent__list li:hover {
    list-style-type: none;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.maincontent__link {
    color:  #ba8305;
    margin: 16px;
    text-decoration: none;
}

.maincontent__link:hover {
    color: #960101;
    margin: 16px;
}

/* Footer settings */

.bottom {
    background-color: #35c66d;
    bottom: 0;
    height: 20px;
    left: 0;
    opacity: 0.6;
    position: fixed;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    width: 100%;
}